* {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.carousel-outer {
	position: relative;
	max-width: 100%;
	width: 500px;
	display: block;
	margin: 50px auto 0 auto;
	height: 300px;
	overflow: hidden;
	border: 1px solid red;
}

.nav {
	z-index: 100;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #333333;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	height: 30px;
	width: 30px;
}

.nav:hover {
	background-color: #f1f1f1;
	color: #000000;
}

.nav.left {
	left: 0;
}

.nav.right {
	right: 0;
}

.carousel-inner {
	position: absolute;
	width: 300%;
	height: 100%;
	top: 0;
	left: 0;
}

.carousel-inner.animate {
	-webkit-transition: transform 0.5s ease-out;
	-moz-transition: transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
	-ms-transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.carousel-pane {
	position: relative;
	width: 33.333%;
	height: 100%;
	float: left;
}

.carousel-pane h3 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}